body{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
ul{
  margin:0px 0px 100px 0px;
  padding: 0px;
  height: 50px;
}

li{
  width: 100%;
  list-style: none;
}

button{
  padding: 0px;
  margin: 0px;
  width: 25%;
  height: 90px;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

main{
  background-color: #e6e6fa;/*外の色変更*/
  height: 2500px;
}

.recommend{
  padding-top: 45px;
  font-size: 30px;
  height: 60px;
}

.box{
  border: solid 7px #778899;/*縁の色変更*/
  width: 75%;
  margin: 0 auto;/*中央寄せ*/
  margin-top: 30px;
  max-width: 100%;
  padding: 20px;
  background-color: white;/*なかを白に*/
  height: 90%;
}

img{
  width: 70%;
  margin: 20px;
}

.box h2{
  width: 100%;
  font-size: 45px;
  
}

section {
  margin: 30px;
  padding: 10px 10px 40px 10px;
}

p{
  font-size: 20px;
}

footer button{
  width: 100%;
  height: 120px;
}